html {
    height: 100%;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.nav-links li, .nav-links li a, .nav-button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.nav-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #24252A;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 3%;
    height: 150px;
}

.nav-logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

.nav-button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(255,255,0, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav-button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.page-content-container {
    margin-top: 300px;
    margin-left: 50px;
    margin-right: 50px;
}

.about-me-container {
    margin-left: 100px;
    margin-right: 100px;
}

.about-me-section h3 {
    font-size: 40px;
}

.about-me-section h4 {
    font-size: 28px;
}

.about-me-section h5 {
    font-size: 23px;
}

.about-me-section text li span {
    font-size: 20px;
}

.about-me-picture-container {
    width: 500px;
    height: 500px;
    float: right;
}

.about-me-picture {
    height: 100%;
}

.about-me-section {
    margin-bottom: 100px;
    width: 50%;
}

.about-me-section-item, .about-me-section-tech-stack-container {
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-me-section-tech-stack-container {

}

.about-me-section-tech-stack-item {
    display: inline-block;
    width: 180px;
    height: 70px;
}
